html, body{

}

/* Navigation */

nav {
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-family: 'Source Sans Pro';
}
  nav div.cloud {
    height: 80px;
    width: auto;
    margin-bottom: 10px;
    background: url('img/cloud.png') no-repeat;
    background-position: center;
    background-size: contain;
  }
    nav div.cloud:hover, nav div.cloud:active {
      background: url('img/cloud-hover.png') no-repeat;
      background-position: center;
      background-size: contain;
      transition: ease-in-out 0.2s;
    }
   nav div.current{
     height: 80px;
     width: auto;
     margin-bottom: 10px;
     background: url('img/cloud-hover.png') no-repeat;
     background-position: center;
     background-size: contain;
   }
  nav a {
    color: #FCDCDB;
    text-decoration: none;
    font-size: 16px;
  }
    nav a:hover, nav a:active{
      color: #FF9491;
      text-decoration: none;
      transition: ease-in-out 0.2s;
    }
    nav a:visited{
      text-decoration: none;
      decoration: none;
    }
    nav a#current {
      color: #FF9491;
    }
  nav ul {
    margin: 0;
    padding: 0;
  }
    nav ul li {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
      letter-spacing: 1px;
    }

/* Content */

div.home {
  margin-top: 45px;
}
  div.home img {
    width: 100%;
  }

div.content{
  text-align: left;
  margin-bottom: 20px;
}
  div.content p {
    margin: 10px 15px 5px;
    font-family: 'Source Sans Pro';
    color: #FF9491;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    display: inline-block;
  }
  div.content p.lists {
    margin: 10px 15px 15px;
    line-height: 32px;
    letter-spacing: 1px;
  }

div.photo {
    text-align: center;
    padding: 0px 15px 30px;
}
  div.photo img {
      width: 100%;
  }

section.graphic-head {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}
@media (min-width: 992px) {
    section.graphic-head {
        text-align: left;
        margin-left: 10px;
    }
}
  section.graphic-head img {
    width: 285px;
  }

p a{
  color: #FF9491;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 2px solid #FCDCDB;
  cursor: pointer;
  letter-spacing: 1px;
}
  p a:hover, p a:active{
    color: #FF9491;
    text-decoration: none;
    border-bottom: 2px solid #FF9491;
    letter-spacing: 1px;
    transition: 0.2s;
  }
  p a:visited, p a:link{
    color: #FF9491;
    text-decoration: none;
    letter-spacing: 1px;
  }
