html, body{

}

/* Navigation */
nav {
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-family: 'Source Sans Pro';
}
  nav div.cloud {
    height: 80px;
    width: auto;
    margin-bottom: 10px;
    background: url('img/cloud.png') no-repeat;
    background-position: center;
    background-size: contain;
  }
    nav div.cloud:hover, nav div.cloud:active {
      background: url('img/cloud-hover.png') no-repeat;
      background-position: center;
      background-size: contain;
      transition: ease-in-out 0.2s;
    }
   nav div.current{
     height: 80px;
     width: auto;
     margin-bottom: 10px;
     background: url('img/cloud-hover.png') no-repeat;
     background-position: center;
     background-size: contain;
   }
  nav a {
    color: #FCDCDB;
    text-decoration: none;
    font-size: 16px;
  }
    nav a:hover, nav a:active {
      color: #FF9491;
      text-decoration: none;
      transition: ease-in-out 0.2s;
    }
    nav a:visited a:link {
      color: #FCDCDB;
      text-decoration: none;
      decoration: none;
    }
    nav a#current {
      color: #FF9491;
    }
  nav ul {
    margin: 0;
    padding: 0;
  }
    nav ul li {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
      letter-spacing: 1px;
    }

/* Index */
div.home {
  margin-top: 45px;
}
  div.home img {
    width: 100%;
  }

/* Content */
div.content {
  text-align: left;
  margin-bottom: 20px;
}

p {
  margin: 10px 15px 5px !important;
  font-family: 'Source Sans Pro';
  color: #FF9491;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
}
  p.lists {
    margin: 10px 15px 15px !important;
    line-height: 32px;
    letter-spacing: 1px;
  }

span {
  letter-spacing: 1px;
}

div.content p a{
  color: #FF9491;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 2px solid #FCDCDB;
  letter-spacing: 1px;
}
  div.content p a:hover, p a:active{
    color: #FF9491;
    text-decoration: none;
    border-bottom: 2px solid #FF9491;
    letter-spacing: 1px;
    transition: ease-in-out 0.2s;
  }
  div.content p a:visited, p a:link{
    color: #FF9491;
    text-decoration: none;
    letter-spacing: 1px;
  }

/* Graphics */
  div.photo {
      text-align: center;
      padding: 0px 15px 30px;
  }
    div.photo img {
        width: 100%;
    }

  section.graphic-head {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
  }
  @media (min-width: 992px) {
      section.graphic-head {
          text-align: left;
          margin-left: 10px;
      }
  }
    section.graphic-head img {
      width: 285px;
    }

/* Portfolio */
div.portfolio {
  text-align: center;
  margin-bottom: 20px;
}

div.box {
  height: 300px;
  width: 95%;
  background: rgba(251, 220, 218, 0.4);
  /*#FCDCDB*/
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: ease-in-out 0.2s;
}
div.box:hover{
  background-color: rgba(251, 220, 218, 0.05);
  /*#FCDCDB*/
  transition: ease-in-out 0.2s;
}

div.box img {
  max-height: 85%;
  max-width: 90%;
  object-fit: contain;
}

/*
   Light Pink: #FCDCDB
   Dark Pink: #FF9491

*/
